<%- include('../partials/head') %>
    <div class="container">
        <h1>All Cars</h1>
        <div class="card-container">
            <% cars.forEach((car)=> { %>
                <div class="card">
                    <img src="<%= car.urlImage %>" class="card-img-top" alt="listing for <%= car.model %>">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= car.model %>
                        </h5>
                        <p class="card-text">Price: $<%= car.price %>
                        </p>
                        <p class="card-text">Phone Number: <%= car.phoneNumber %>
                        </p>
                        <p class="card-text">Year: <%= car.year %>
                        </p>
                        <p class="card-text">Status: <%= car.status %>
                        </p>
                        <a href="/carshow/<%= car._id %>" class="btn btn-primary">Show Details</a>
                    </div>
                </div>
                <% }); %>
                    <% if (cars.length===0) { %>
                        <p>No cars available.</p>
                        <% } %>
        </div>
    </div>
    <%- include('../partials/footer') %>