<%- include('../partials/head') %>

    <div class="form-container mt-5">
        <h1 class="form-title text-center mb-4">
            <%= car ? 'Edit Car: ' + car.model : 'Add Your Car' %>
        </h1>
        <form action="/carshow/<%= user._id %>" method="POST" class="form-content" enctype="multipart/form-data" >
            <div class="form-group">
                <label for="model">Car Model:</label>
                <input type="text" class="form-input" name="model" value="<%= car ? car.model : '' %>" required>
            </div>

            <div class="form-group">
                <label for="year">Year:</label>
                <input type="number" class="form-input" name="year" value="<%= car ? car.year : '' %>" required>
            </div>

            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="tel" class="form-input" name="phoneNumber" value="<%= car ? car.phoneNumber : '' %>"
                    required>
            </div>

            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" class="form-input" name="price" id="price" value="<%= car ? car.price : '' %>"
                    required oninput="formatPrice(this)">
            </div>

            <div class="form-group">
                <label for="mileage">Mileage:</label>
                <input type="text" class="form-input" name="mileage" id="mileage" value="<%= car ? car.mileage : '' %>"
                    required oninput="formatMileage(this)">
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-input" name="description" rows="3"><%= car ? car.description : '' %></textarea>
            </div>

            <div class="form-group">
                <label for="image">Image URL:</label>
                <input type="file" name="image" accept="image/*" <%=car ? '' : 'required' %> />
            </div>

            <div class="form-group">
                <label for="status">Status:</label>
                <select class="form-input" name="status" required>
                    <option value="" disabled <%=car ? '' : 'selected' %>>Select Status</option>
                    <option value="Available" <%=car && car.status==='Available' ? 'selected' : '' %>>Available</option>
                    <option value="Sold" <%=car && car.status==='Sold' ? 'selected' : '' %>>Sold</option>
                </select>
            </div>

            <button type="submit" class="form-button">
                <%= car ? 'Update Car' : 'Add Car' %>
            </button>
        </form>
    </div>

    <script>
        function formatMileage(input) {
            let value = input.value.replace(/\D/g, '');
            value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            input.value = value;
        }
        function formatPrice(input) {
            let value = input.value.replace(/\D/g, '');
            value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            input.value = value;
        }
    </script>

    <%- include('../partials/footer') %>