<%- include('../partials/head') %>
<div class="container">
    <h1 class="form-title text-center mb-4">All Car</h1> 
    <div class="card-container">
        <% cars.forEach((car) => { %>
            <div class="card">
                <img src="<%= car.urlImage %>" class="card-img-top" alt="<%= car.model %>">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <%= car.model %>
                    </h5>
                    <p class="card-text">Price: <%= car.price %> BD</p>
                    <p class="card-text">Phone Number: +973 <%= car.phoneNumber %></p>
                    <p class="card-text">Year: <%= car.year %></p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="/carshow/<%= car._id %>" class="btn btn-primary">Show Details</a>
                        <div class="status-badge">
                            <% if (car.status === 'Available') { %>
                                <span class="badge bg-warning">
                                    <%= car.status %>
                                </span>
                            <% } else if (car.status === 'Sold') { %>
                                <span class="badge bg-danger">
                                    <%= car.status %>
                                </span>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include('../partials/footer') %>